body {
    font-family: "Libre Baskerville", serif;
    font-family: "Poppins", sans-serif;
}
.hero-bg {
    background-image: url("./Images/banner/banner3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
@media screen and (max-width: 767px) {
    .blur {
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(8px);
    }
}
.blog-bg {
    background-image: url("./Images/products/banner/b19.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.about-bg {
    background-image: url("./Images/products/banner/b1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.visually-none {
    display: none;
}
.visually-none:hover {
    display: inline-block;
}
.item-hover:hover {
    transform: translateX(20px);
    transition: 0.7s ease;
    display: inline;
    color: black !important;
}
.contact-bg {
    background: linear-gradient(rgba(44, 62, 80, 0.85), rgba(0, 0, 0, 0.45)),
        url("./Images/products/banner/b8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.sign-up-bg {
    background: linear-gradient(
            rgba(223, 230, 233, 0.85),
            rgba(223, 230, 233, 0.85)
        ),
        url("./Images/banner/banner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.blog1 {
    background-image: url("./Images/products/blogs/b6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.shop-bg {
    background-image: url("./Images/products/banner/b91.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.btn-bg {
    background-color: #456edd !important;
}
.bg-common {
    background-color: #635bff !important;
}
.fs-stock {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #635bff;
    filter: blur(0.9px);
    /* filter: drop-shadow(0 0 0.75rem #107aea); */
}
.linear-wipe {
    text-align: center;

    background: linear-gradient(
        to right,
        #4f03e0 20%,
        #0087b3 40%,
        #635bff 60%,
        #635bff 80%
    );
    background-size: 200% auto;

    color: #000;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 5s linear infinite;
}
@keyframes shine {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.text-shadow {
    filter: drop-shadow(0 0 0.75rem crimson);
}
.heading-font {
    font-family: "Libre Baskerville", serif;
}
