body {
    font-family: "Libre Baskerville", serif;
    font-family: "Poppins", sans-serif;
}
.hero-bg {
    background-image: url("./Images/banner/banner2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.blog-bg {
    background-image: url("./Images/products/banner/b19.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.about-bg {
    background-image: url("./Images/products/banner/b1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.visually-none {
    display: none;
}
.visually-none:hover {
    display: inline-block;
}
.item-hover:hover {
    transform: translateX(20px);
    transition: 0.7s ease;
    display: inline;
    color: black !important;
}
.contact-bg {
    background: linear-gradient(rgba(44, 62, 80, 0.85), rgba(0, 0, 0, 0.45)),
        url("./Images/products/banner/b8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.sign-up-bg {
    background: linear-gradient(
            rgba(223, 230, 233, 0.85),
            rgba(223, 230, 233, 0.85)
        ),
        url("./Images/banner/banner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.blog1 {
    background-image: url("./Images/products/blogs/b6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.shop-bg {
    background-image: url("./Images/products/banner/b91.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.btn-bg {
    background-color: #456edd !important;
}
.fs-stock {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #107aea;
    /* filter: blur(0.8px); */
    filter: drop-shadow(0 0 0.75rem #107aea);
}
.text-shadow {
    filter: drop-shadow(0 0 0.75rem crimson);
}
.heading-font {
    font-family: "Libre Baskerville", serif;
}
